DB_HOST=
DB_PORT=
DB_NAME=
NODE_ENV=development
PORT=3003
FRONT_ROOT_URL=http://localhost:3000
JWT_SECRET=3423wwerWER{EWrWER}EWrew]ewr{2eghvasaxfj23dsf2324
ENCRYPT_AES_256_CTR_PASSWORD=d6F3Efeq
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URL=
ROOT_URL=https://oauth2.googleapis.com/token
GET_GOOGLE_API=https://www.googleapis.com/oauth2/v1/userinfo?alt=json&access_token=